{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="text-align: left; max-width: 500px; margin: 4rem auto">
    <div class="mb-4">
        <h4>CEO 인사</h4>
    </div>
</div>
<hr>

<div style="text-align: left; max-width: 500px; margin: 4rem auto">
    <div class="mb-4">
        <h4>기업 연혁</h4>
    </div>
</div>
<hr>

<div style="text-align: left; max-width: 500px; margin: 4rem auto">
    <div class="mb-4">
        <h4>기업 정보</h4>
        <h4>조직도</h4>
<!--        <img src="/Users/sunghyunpark/Desktop/조직.jpeg">-->
    </div>
</div>
<hr>

<div style="text-align: left; max-width: 500px; margin: 4rem auto">
    <div class="mb-4">
        <h4>오시는 길</h4>
    </div>
</div>
{% endblock %}
