{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row mt-5">
  <div class="col-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">번호</th>
          <th scope="col">제목</th>
          <th scope="col">아이디</th>
          <th scope="col">작성일</th>
        </tr>
      </thead>
      <tbody>
        {% for boardapp in boards %}
        <tr>
          <th scope="row">{{ boardapp.id }}</th>
          <td>{{ boardapp.title }}</td>
          <td>{{ boardapp.writer }}</td>
          <td>{{ boardapp.created_at }}</td>
          <td>{{ boardapp.updated_at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}