
    <div class="Investment_header">
        <div>
            <h1 class="InvestWeb_logo">Investment Web</h1>
        </div>
        <div>
            <span>Stock</span>
            <span>Property</span>
            <span>News</span>
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
                <span>Login</span>
            </a>
            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                <span>MyPage</span>
            </a>
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
                <span>Logout</span>
            </a>
            {% endif %}
        </div>

    </div>